body {
background-color:  #ececec;
color: #3D3D3D;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*margin: auto 0px auto 0px;*/
padding: 10px;
}

#container {
}

input {
width: 170px;
}

a {text-decoration: none;
  color: #103842;
}
a:visited { color: #413225; }

a h4 {
text-decoration: none;
border-bottom: 1px #3D3D3D dotted;
color: #3D3D3D;
display: inline
}

h4 {margin: 0px; }

h3 {
margin: 5px 0px;
}

#left_column {
width: 100px;
       /*float: left;*/
}

#right_column {
width: 175px;
float: right;
}

.small_text {
font-size: 12px;
}

#message {
width: 120px;
display: block;
margin: 0px auto;
}

#sent_status {
position: relative;
bottom: 0px;
}

.spinner_container {
display: block;
width: 25px;
margin: 0px auto 10px auto;
height: 25px;
}

span {
bottom-margin: 8px;
}

#content_wrapper {
width: 245px;
margin: 10px auto 0px auto;
text-align: center;
vertical-align: bottom;
}

#info_paragraph {
margin-top: 10px;
}

#small_text {
font-size: 12px;
}

#bookmark_footer {
position: absolute;
bottom: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
width: 295px;
text-align: center;
}

p {
margin: 0px;
font-size: 12px;
 }

.inline {display : inline; }

.auto_margin { 
margin-left: auto;
margin-right: auto;
text-align: center;
}

.send_to_button {
cursor: pointer; 
cursor: hand;
background-color: #b6ced6;
padding: 3px;
width: 120px;
display: inline-block;
}

h5 {
font-size: 15px;
}

.pullapagehistory {
  font-size: 13px;
}

