
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
  <script>

  </script>

  <div id="container">
    <a href="/" target="_blank"><h4>Pushapage</h4></a>
      <div id="content_wrapper">
        <div id="spinner" class="spinner_container"></div>
        <span id="message">Sending page..</span>
      </div>
    <div id="bookmark_footer">
      <% if @user.instapaper_user %>
        <div class="small_text send_to_button" id="instapaper">Send to Instapaper</div>
      <% end %>
      <% if @user.pinboard_user %>
        <div class="small_text send_to_button" id="pinboard">Send to Pinboard</div>
      <% end %>
    </div>
  </div>


