<h3>Recently added pages</h3>
<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @site_references.each do |site_reference| %>
  <tr>
    <td><%= site_reference.reference %></td>
    <td><%= link_to 'Delete page', site_reference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site reference', new_site_reference_path %>
<a href='/site_references/latest'>Latest URL</a>
