<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @site_reference.reference %>
</p>


<%= link_to 'Edit', edit_site_reference_path(@site_reference) %> |
<%= link_to 'Back', site_references_path %>
