<h1>Welcome</h1>
<p>Pushapage is a helpful service that let's you push a web page to any of your devices. Just add our bookmarks to your bookmarks bar to start sending and receiving pages.</p>
<strong>Features</strong>
<ul>
<li>Click a bookmark to send to send a page</li>
<li>Receive the page with another bookmark click</li>
<li>Send to your instapaper account</li>
<li>Send pages to your pinboard account<li>
</ul>


</p>
<% if user_signed_in? %>
    <%= @user.email %>
      <p>Wrong account? <%= link_to "Log out", '/sign_in_again' %>
  <% else %>
  You need to login there:
  <%= render 'shared/sign_in_form' %>
<% end %>
