<div id="mobile_setup">
    <div id="mobile_setup_header">
      <p id="mobile_setup_intro">
      <h3>Install the <em>PushapageHistory</em> bookmarklet.</h3>
      <br />
      </p>
      <img src="/assets/pullapage.jpg" style="width:35%;float:left;margin-bottom:20px;margin-left:10px">
    </div><br />
  <ol id="mobile_setup_list">
  <li>
  Copy the text in the box below.
  <p style="font-size: 12px;line-height: 1;width:90%;word-wrap:break-word;margin-top:10px;background:#bbc4cd;"</li>
<%= "javascript:(function(){function d(){(window.myBookmarklet=function(){var a=$(location).attr('href');$(document.body).append('<iframe id=\"myId\" />');$('iframe#myId').attr('src','#{Settings.domain}/site_references/pullapage_screen');$('iframe#myId').attr('style','position:fixed;top:0px;left:0px;height:280px;width:300px;border:1px%20solid;z-index:16777271;')})()}var a='1.6.2';if(window.jQuery===undefined||window.jQuery.fn.jquery<a){var b=false;var c=document.createElement('script');c.src='#{Settings.domain}/bookmarklets/jquery.min.js';c.onload=c.onreadystatechange=function(){if(!b&&(!this.readyState||this.readyState=='loaded'||this.readyState=='complete')){b=true;d()}};document.getElementsByTagName('head')[0].appendChild(c)}else{d()}})()" %>
  </p>
  <li>
  Bookmark this page. It's best to pop it in the bookmarks bar for easy access.<br />
  <img src="/assets/bookmark_bar.png">
  </li>
  <li>
  Click the bookmark icon and edit the bookmark you have just added. 
  </li>
  <li>
  Delete the URL and <em>paste</em> the copied code in it's place.<br />
  <img src="/assets/delete_url_ipad.png">
  <img src="/assets/paste_url_ipad.png">
  </li>
  <li>
  That's it!
  </li>
  </ol>
</div> 

