<div id="mobile_setup">
    <div id="mobile_setup_header">
      <p id="mobile_setup_intro">
      <h4>Install the <em>Pullapage</em> bookmarklet.</h4>
      </p>
    </div><br />
  <ol id="mobile_setup_list">
  <li>
  Copy the text in the box below.
  <p style="font-size: 12px;line-height: 1;width:90%;word-wrap:break-word;margin-top:10px;background:#bbc4cd;"</li>
  <%= "#{Settings.domain}/latest" %>
  </p>
  <li>
  Bookmark this page. It's best to pop it in the bookmarks bar for easy access.<br />
  <img src="/assets/bookmark_bar.png">
  </li>
  <li>
  Click the bookmark icon and edit the bookmark you have just added. 
  </li>
  <li>
  Delete the URL and <em>paste</em> the copied code in it's place.<br />
  <img src="/assets/delete_url_ipad.png">
  <img src="/assets/paste_url_ipad.png">
  </li>
  <li>
  That's it!
  </li>
  </ol>
  <br />
  <span>And you can install the <em>Pushapage history</em> bookmarklet <%= link_to "here.", "/pushapage_history_setup" %></span>
</div> 

