<div id="settings">
         <p>
        <%= link_to "Click to setup your ipad/tablet <=", { :controller => '/pages', :action => 'mobile_setup' } %> 
        </p>
   <div class="bookmarklet_row bottom_border">
      <div id="settings_left_column" class="setup_column"> 
        <p>
        Push the page to your devices.<br />
        Send the page to your Instapaper or Pinboard accounts.
        </p>
        <a href='javascript:(function(){function d(){(window.myBookmarklet=function(){var a=$(location).attr("href");$(document.body).append("<iframe id=\"myId\" />");$("iframe#myId").attr("src","http://localhost:3000/add_site?l="+a);$("iframe#myId").attr("style","position:fixed;top:20px;left:20px;height:185px;width:320px;border:1px%20solid;z-index:16777271;")})()}var a="1.6.2";if(window.jQuery===undefined||window.jQuery.fn.jquery<a){var b=false;var c=document.createElement("script");c.src="http://ajax.googleapis.com/ajax/libs/jquery/"+a+"/jquery.min.js";c.onload=c.onreadystatechange=function(){if(!b&&(!this.readyState||this.readyState=="loaded"||this.readyState=="complete")){b=true;d()}};document.getElementsByTagName("head")[0].appendChild(c)}else{d()}})()' class="bookmarklet">Pushapage</a>
        <div class="tiny_text inline">
        ← Drag this to your bookmark bar
        </div>
      </div>
      <div class="setup_column_slim">
        <img src="/images/pushapage.jpg">
      </div>
    </div>
    <div id="pullapage_bookmarklet_row" class="bottom_border">
      <div id="settings_center_column" class="setup_column">
        <p>Load your most recently pushed page</p>
        <a href="http://localhost:3000/latest" class="bookmarklet">Pullapage</a>
        <div class="tiny_text inline">
        ← Drag this to your bookmark bar
        </div>
      </div>
    </div>
    <div class="bookmarklet_row">
      <div id="settings_right_column" class="setup_column left_border">
        <p>
        Display a popup list of your most recently added pages.
        </p>
        <a href='javascript:(function(){function d(){(window.myBookmarklet=function(){var a=$(location).attr("href");$(document.body).append("<iframe id=\"myId\" />");$("iframe#myId").attr("src","http://localhost:3000/site_references/pullapage_screen");$("iframe#myId").attr("style","position:fixed;top:0px;right:0px;height:280px;width:300px;border:1px%20solid;z-index:16777271;")})()}var a="1.6.2";if(window.jQuery===undefined||window.jQuery.fn.jquery<a){var b=false;var c=document.createElement("script");c.src="http://ajax.googleapis.com/ajax/libs/jquery/"+a+"/jquery.min.js";c.onload=c.onreadystatechange=function(){if(!b&&(!this.readyState||this.readyState=="loaded"||this.readyState=="complete")){b=true;d()}};document.getElementsByTagName("head")[0].appendChild(c)}else{d()}})()' class='bookmarklet'>PushapageHistory</a>
        <div class="tiny_text inline">
        ← Drag this to your bookmark bar
        </div>
      </div>
      <div class="setup_column_slim">
          <img src="/images/pullapage.jpg"> 
      </div>
       <br />
        <br />
        <br />
  </div> 
    <br />
    </div>
 </div>
